/.TypesDescriptionLabelProvider.java._trace
/.TypesLabelProvider.java._trace
/TypesDescriptionLabelProvider.java
/TypesLabelProvider.java
/.TypesDescriptionLabelProvider.xtendbin
/.TypesLabelProvider.xtendbin
